<a href="https://colab.research.google.com/github/baejinu/MachineLearning/blob/main/Jinu/DecisionTree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [8]:
df = pd.read_csv('고혈압.csv')
df

,나이,성별,심장병,안정혈압,콜레스테롤,공복혈당,안정심전도,최대심박수,협심증,심장혈액공급감소,심장혈액공급증가,혈관수,혈액공급량,심혈관질환
0,57.0,1.0,3,145,233,1,0,150,0,2.3,0,0,1,1
1,64.0,0.0,2,130,250,0,1,187,0,3.5,0,0,2,1
2,52.0,1.0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56.0,0.0,1,120,236,0,1,178,0,0.8,2,0,2,1
4,66.0,0.0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26078,72.0,0.0,0,138,294,1,1,106,0,1.9,1,3,2,0
26079,60.0,1.0,0,144,200,0,0,126,1,0.9,1,0,3,0
26080,68.0,1.0,0,100,234,0,1,156,0,0.1,2,1,3,0
26081,67.0,1.0,1,154,232,0,0,164,0,0.0,2,1,2,0
26082,67.0,0.0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [28]:
data = df[['나이', '성별', '심장병', '안정혈압', '콜레스테롤', '공복혈당', '안정심전도', '최대심박수', '협심증', '심장혈액공급감소', '심장혈액공급증가', '혈관수', '혈액공급량']].to_numpy()
target = df['심혈관질환'].to_numpy()

In [14]:
from sklearn.model_selection import train_test_split
train_input, test_input, train_target, test_target = train_test_split(data, target, test_size=0.2)

In [30]:
from sklearn.tree import DecisionTreeRegressor
dt = DecisionTreeRegressor()
dt.fit(train_input, train_target)
print(dt.score(train_input, train_target))
print(dt.score(test_input,test_target))

1.0
1.0